.benefits {
    .benefits__list {
        @media screen and (min-width: 900px) {
                display: flex;
                flex-wrap: wrap;
                gap: 30px;
            }
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: nowrap;
        }
    }
    .benefits__item {
        width: 100%;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
        @media screen and (min-width: 900px) {
            max-width: calc(100% / 2 - 15px);
        }
        @media screen and (min-width: 1200px) {
            max-width: calc(100% / 4 - 15px);
        }
    }
    .benefits__icon-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
        margin-bottom: 30px;
        background-color: $background-color-two;
        border-radius: 4px;
    }
    .benefits__subtitle {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        margin-bottom: 10px;
        color: $primary-text-color;
        @media screen and (min-width: 900px) {
            display: block;
        }
        @media screen and (min-width: 1200px) {
            display: block;
        }
    }
    .benefits__text {
        line-height: 1.71;
        margin-bottom: 0;
        color: $secondary-text-color;
    }
}