.footer__submit {
    text-align: center;
    @media screen and (min-width: 1200px) {
        margin-left: auto;
        position: relative;
        text-align: left;
    }

    .footer__title {
        font-weight: 700;
        text-transform: uppercase;
        color: $bright-text;
        font-size: 14px;
        line-height: 1.14;
    }
    .footer__input-box {
        @media screen and (min-width: 768px) {
            min-width: 450px;
        }
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }
    }
    .footer__input {
        width: 100%;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding-left: 16px;
        background-color: transparent;
        color: $bright-text;
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 20px;
        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
            font-size: 16px;
            line-height: 1.25;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 0;
            width: 358px;
            margin-right: 12px;
        }
    }
    .footer__submit-btn {
        width: 200px;
        height: 50px;
        background-color: $accent-color;
        color: $bright-text;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        justify-content: center;
        // text-align: center;
        letter-spacing: 0.06em;
    }
    .footer__svg {
        margin-left: 10px;
    }
}