$font-family: 'Roboto', sans-serif;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$bright-text: #ffffff;
$dark-text: #000000;
$link-color: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$background-color-one: #ffffff;
$background-color-two: #f5f4fa;
$background-color-footer: #2f303a;
$border-color: #eeeeee;
$logo-color: #afb1b8;
$header-line-color: #ececec;
